@import "./respond";

@include respond (phone){
    .col-md-1 {
        width: 100%;
    }
    
    .col-md-2 {
        width: 100%;
    }
    
    .col-md-3 {
        width: 100%;
    }
    .col-md-4{
        width: 100%;
    }
    .col-md-5{
        width: 100%;
    }
    .col-md-6{
        width: 100%;
    }
    .col-md-7{
        width: 100%;
    }
    .col-md-8{
        width: 100%;
    }
    .col-md-9{
        width: 100%;
    }
    .col-md-10{
        width: 100%;
    }
    .col-md-11{
        width: 100%;
    }
    .col-md-12{
        width: 100%;
    }
    .colsm1 {
      width: 100%;
    }
    
    .colsm2 {
        width: 100%;
    }
    
    .colsm3 {
        width: 100%;
    }
    .colsm4{
        width: 100%;
    }
    .colsm5{
        width: 100%;
    }
    .colsm6{
        width: 100%;
    }
    .colsm7{
        width: 100%;
    }
    .colsm8{
        width: 100%;
    }
    .colsm9{
        width: 100%;
    }
    .colsm10{
        width: 100%;
    }
    .colsm11{
        width: 100%;
    }
    .colsm12{
        width: 100%;
    }

}

@include respond (desktop){



.col-1 {
    width: calc(100% / 12);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}
.col4{
    width: calc(100% / 12 * 4);
}
.col5{
    width: calc(100% / 12 * 5);
}
.col6{
    width: calc(100% / 12 * 6);
}
.col7{
    width: calc(100% / 12 * 7);
}
.col8{
    width: calc(100% / 12 * 8);
}
.col9{
    width: calc(100% / 12 * 9);
}
.col10{
    width: calc(100% / 12 * 10);
}
.col11{
    width: calc(100% / 12 * 11);
}
.col12{
    width: calc(100% / 12 * 12);
}

}
